---
import Layout from "@layouts/Layout.astro";
import Card from "@components/LinkCard.astro";
---

<Layout title="JhobaGif - by Jhobahego">
	<main>
		<h1>
			Bienvenido a <span
				class="bg-gradient-to-r from-blue-500 to-purple-500 text-transparent bg-clip-text"
				>JhobaGif</span
			>
		</h1>
		<p
			class="bg-gradient-to-r bg-opacity-66 from-purple-800 to-purple-600 border border-opacity-25 rounded-md p-6 mb-8"
		>
			Busca tus gifs favoritos y disfruta de la mejor experiencia UI/UX por
			parte de la aplicación líder de consumo de gifs potenciada con las
			tecnologías webs Astro, Vue3 y las APIs de Tenor y Giffy ❤
		</p>

		<ul role="list" class="link-card-grid">
			<Card
				href="https://developers.giphy.com/"
				title="Pagina web de Giphy"
				body="Visita la pagina de desarrolladores de Giphy y disfruta de una api para poder probar tus habilidades de desarrollo web."
			/>
			<Card
				href="https://tenor.com/gifapi"
				title="Pagina web de Tenor"
				body="Visita la pagina de la api de Tenor y descubre gran variedad de ejemplos y recomendaciones para usar su api en tus lenguajes de programación favoritos."
			/>
			<Card
				href="https://astro.build"
				title="Pagina web de Astro"
				body="Descubre Astro el framework web que vuela. 🚀"
			/>
			<Card
				href="https://astro.build/chat/"
				title="Documentación Vue3"
				body="Descubre todo lo que puedes hacer usando la librería progresiva del desarrollo frontend. 💚"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.instructions {
		background: linear-gradient(rgba(49, 10, 101, 66%), rgba(49, 10, 101, 33%));
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
