---
import Layout from "@layouts/Layout.astro";
import SearchForm from "@components/SearchForm.vue";
---

<Layout title="Busqueda - JhobaGif">
  <h1 class="text-4xl text-center pt-12 pb-2">Realiza tu busqueda</h1>
  <p class="text-center opacity-75">Usa los filtros para controlar el contenido y evitar problemas con contenido fuerte</p>
  <section class="rounded-md max-w-full m-8 flex flex-col gap-5">
    <SearchForm client:only />
  </section>
</Layout>
