---
import "@fontsource-variable/manrope";

import SearchForm from "@components/SearchForm.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header
			class="max-w-full px-16 py-4 gap-8 bg-gray-800 opacity-80 mb-8 sticky right-0 top-0 left-0"
		>
			<SearchForm />
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	html {
		font-family: "Manrope variable", sans-serif;
		background-size: 224px;
		color-scheme: dark light;
	}
</style>
